<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    OSATE2-GTSE
   
    Copyright 2017 Carnegie Mellon University. All Rights Reserved.
   
    NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE
    MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY MAKES NO
    WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, AS TO ANY MATTER INCLUDING,
    BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR PURPOSE OR MERCHANTABILITY,
    EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. CARNEGIE MELLON
    UNIVERSITY DOES NOT MAKE ANY WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM
    PATENT, TRADEMARK, OR COPYRIGHT INFRINGEMENT.
   
    Released under an Eclipse Public License - v1.0-style license, please see
    license.txt or contact permission@sei.cmu.edu for full terms. 
   
    DM17-0002
 -->

<plugin>
   <extension-point id="org.osate.atsv.integration" name="Analysis" schema="schema/org.osate.atsv.integration.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.osate.atsv.integration.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.osate.internal.ui.preferences.OsatePreferencePage"
            class="org.osate.atsv.integration.PreferencePage"
            id="org.osate.atsv.integration.preferences"
            name="ATSV Integration">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.osate.atsv.integration.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="org.osate.atsv.integration.commands.category"
            id="org.osate.atsv.integration.commands.sampleCommand"
            name="Build ATSV-Jar">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.atsv.integration.preparser.BuildJarHandler"
            commandId="org.osate.atsv.integration.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.osate.atsv.integration.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.osate.atsv.integration.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="org.osate.atsv.integration.commands.sampleCommand"
                  id="org.osate.atsv.integration.menus.sampleCommand"
                  label="Build ATSV-Jar"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.osate.atsv.integration.toolbars.sampleToolbar">
            <command
                  commandId="org.osate.atsv.integration.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="org.osate.atsv.integration.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
