root wbs_federated_conf 

configuration wbs_federated_conf (
	pump_impl : system impl::pump::pump.generic from (impl::pump::pump.large, impl::pump::pump.small),
	wheel_conf_opts : system impl::wheel::wheel.i from (impl::wheel::wheel_one_input, impl::wheel::wheel_two_inputs)
) extends impl::wbs::wbs.federated{
	-- Choices made at lower levels / with sub-configruations 
	bscu => bscu_federated_conf,
	power => power_generic_conf,
	
	-- Choices made at the level of the wbs package
	wheel => wheel_conf_opts with tire_brake_conf,
	blue_pump => pump_impl,
	green_pump => pump_impl,
	accumulator => pump_impl
}

configuration tire_brake_conf (
	tire_impl : device impl::wheel::tire from (impl::wheel::tire.hi_quality, impl::wheel::tire.lo_quality),
	brake_impl : device impl::wheel::brake from (impl::wheel::brake.hi_quality, impl::wheel::brake.lo_quality)
) extends impl::wheel::wheel.i {
	tire => tire_impl,
	brake =>  brake_impl
}

configuration bscu_federated_conf (
	 
) extends impl::bscu::bscu.federated {
	sub1 => bscu_subsystem_generic_conf,
	sub2 => bscu_subsystem_generic_conf,
	platform => platform_federated_conf
}

-- TODO: Start here -- this range doesn't show up in the generated properties file
configuration platform_federated_conf (
	power: SEI::PowerBudget from (0.1W .. 300W)
) extends impl::platform::platform.federated {
	cpu1.power#SEI::PowerBudget => power,
	cpu2.power#SEI::PowerBudget => power
}

configuration bscu_subsystem_generic_conf (
	mon_impl : process impl::bscu::monitor from (impl::bscu::monitor.i1, impl::bscu::monitor.i2),
	cmd_impl : process impl::bscu::command from (impl::bscu::command.i1, impl::bscu::command.i2)
) extends impl::bscu::bscu_subsystem.generic {
	mon => mon_impl,
	cmd => cmd_impl
}

configuration power_generic_conf (
	powerbus1_impl : device impl::power::powersource from (impl::power::powersource.small, impl::power::powersource.large, impl::power::powersource.systempower),
	powerbus2_impl : device impl::power::powersource from (impl::power::powersource.small, impl::power::powersource.large, impl::power::powersource.systempower)
) extends impl::power::power.generic {
	powerbus1 => powerbus1_impl,
	powerbus2 => powerbus2_impl
}

analyses {
	'org.osate.atsv.integration.property-totals',
	'org.osate.atsv.integration.power-consumption',
	'org.osate.atsv.integration.unhandled-faults',
	'org.osate.atsv.integration.port-consistency',
	'org.osate.gtse.demo.braking-power'
}

outputs {
	Price : float > 1.0,
	ValidModel : float,
	InvalidReason : string,
	Weight : float > 1.0,
	powerbus1 : float,
	powerbus2 : float
}