root wbs_federated_conf 

configuration wbs_federated_conf (
	--wheel_impl : refined to system
) extends impl::wbs::wbs.federated {
	bscu => bscu_subsystem_generic_conf,
	power => power_generic_conf--,
--	wheel => wbs_detailed_conf
}

configuration bscu_subsystem_generic_conf (
	mon_impl: process impl::bscu::monitor from (impl::bscu::monitor.i1, impl::bscu::monitor.i2),
	cmd_impl: process impl::bscu::command from (impl::bscu::command.i1, impl::bscu::command.i2)
) extends impl::bscu::bscu_subsystem.generic {
	mon => mon_impl,
	cmd => cmd_impl
}

configuration power_conf (
	line1_impl : provides bus access impl::common::power.generic from (common::power.heavygauge)
) extends impl::power::power {
	
}

configuration power_generic_conf (
	powerbus1_impl : device impl::power::powersource from (impl::power::powersource.small, impl::power::powersource.large, impl::power::powersource.systempower),
	powerbus2_impl : device impl::power::powersource from (impl::power::powersource.small, impl::power::powersource.large, impl::power::powersource.systempower)
) extends impl::power::power.generic {
	powerbus1 => powerbus1_impl,
	powerbus2 => powerbus2_impl
} 