root wbs_generic_conf 

configuration wbs_generic_conf extends impl::wbs::wbs.generic {
	bscu => bscu_subsystem_generic_conf,
	power => power_generic_conf
}

configuration bscu_subsystem_generic_conf (
	mon_impl: process impl::bscu::monitor from (impl::bscu::monitor.i1, impl::bscu::monitor.i2)
) extends impl::bscu::bscu_subsystem.generic {
	mon => mon_impl
}

configuration power_generic_conf (
	powerbus1_impl : device impl::power::powersource from (impl::power::powersource.small, impl::power::powersource.large, impl::power::powersource.systempower),
	powerbus2_impl : device impl::power::powersource from (impl::power::powersource.small, impl::power::powersource.large, impl::power::powersource.systempower)
) extends impl::power::power.generic {
	powerbus1 => powerbus1_impl,
	powerbus2 => powerbus2_impl
}