root CS2

configuration CS1 extends P::S.i {} 
--constraints {
--	t1 == t3,
--	t1 != t3,
--	t1 == 1 requires t2 != 5
--}

configuration CS2(p: system P::V) extends P::S.i {
	t2 => P::T.i2 {
		v => p
		--#SEI::SecurityLevel => 3
	} constraints {
		v == v 
	}
	--#SEI::SecurityLevel => 4
}

configuration CT1(q: system P::U) extends P::T.i1 {
	u => q
}

configuration CT2

configuration CT3(
	pu: system P::U,
	pv: system P::U from (P::U.i, P::U.i1)
) extends P::T.i3 {
	u => pu {
		#SEI::SecurityLevel => 1
	},
	u#SEI::SecurityLevel => 2,
	#SEI::SecurityLevel => 3,
	#Period => 65ms,
	v => pv 
}

--constraints {
--	a.b.c == x.y.z
--	a.b.c != c.y.z
--	
--	a.b.c == P::T.i1 requires x.y.z == P::T.i2
--	
--}

analyses {
	'a1',
	'a2'
}

outputs {
	bla: int < 5,
	foo: float >= 2.5,
	bar: string != 'abc'
}