root CS1

configuration CS1 extends P::S.i with CS2(p => P::V.i) {
--	t1 => P::T.i1 {
--		u => P::U.i
--	},
--	t1 => CT1(q => P::U.i),
    t3 => CT3(pu => P::U.i),
    *#SEI::SecurityLevel => 99
--	{
--		u => P::U.i1
--	}
}

configuration CS2(p: system P::V) extends P::S.i {
	t2 => P::T.i2 {
		v => p
		--#SEI::SecurityLevel => 3
	}
	--#SEI::SecurityLevel => 4
}

configuration CT1(q: system P::U) extends P::T.i1 {
	u => q
}

configuration CT2

configuration CT3(
	pu: system P::U,
	pv: system P::U from (P::U.i, P::U.i1)
) extends P::T.i3 {
	u => pu {
		#SEI::SecurityLevel => 1
	},
	u#SEI::SecurityLevel => 2,
	#SEI::SecurityLevel => 3,
	#Period => 65ms,
	v => pv 
}

analyses {
	'a1', 'a2'
}

outputs {
	bla: int < 5,
	foo: float >= 2.5,
	bar: string != 'abc'
}