root CWBS13

configuration CWBS00a extends T::WBS.i {
	w#PS::p => "s" 
}

-- single choice
-- OK
configuration CWBS00 extends T::WBS.i {
	w => T::W1.i
}

-- nested choices
-- OK
configuration CWBS01 extends T::WBS.i {
	w => T::W1.i {
		a => T::A.i1
	}
}

-- local 'with' with choices
-- OK
configuration CWBS02 extends T::WBS.i {
	w => T::W1.i with CW
}

-- select one
-- OK
configuration CWBS03 extends T::WBS.i {
	w => T::W1.i with CW(a_opt => T::A.i2)
}

-- override choices for a
-- OK
configuration CWBS04 extends T::WBS.i {
	w => T::W1.i with CW {
		a => T::A.i1
	}
}

-- choices on first level
-- OK
configuration CWBS10(
	w_opt: system T::W from (T::W1.i, T::W2.i)
) extends T::WBS.i {
	w => w_opt
}

-- nested assignment after parameter
-- OK
configuration CWBS11(
	w_opt: system T::W.i from (T::W1.i, T::W2.i)
) extends T::WBS.i {
	w => w_opt {
		a => T::A.i2
	}
}

-- parameter with 'with'
-- OK
configuration CWBS12(
	w_opt: system T::W.i from (T::W1.i, T::W2.i)
) extends T::WBS.i {
	w => w_opt with CW
}

-- now provide value for w_opt
configuration CWBS13 extends T::WBS.i with CWBS12(w_opt => T::W1.i)

configuration CW(
	a_opt: device T::A from (T::A.i1, T::A.i2)
) extends T::W.i {
	a => a_opt
}

configuration CX extends T::WBS.i
configuration CY extends T::WBS.i with CX
