root top

configuration top (
	proc: process SimpleComponentChoice::MidProcess from (SimpleComponentChoice::MidProcess1, SimpleComponentChoice::MidProcess2, SimpleComponentChoice::MidProcess3),
	power: SEI::PowerBudget from (0W .. 2000W)
) extends SimpleComponentChoice::MySystem.Tier0 {
	scs.mdev => proc,
	scs.sdev.power#SEI::PowerBudget => power,
	scs.mdev#Deployment_Properties::Actual_Processor_Binding => 1--reference(scs.processor2)
	--scs => {
	--	mdev => ...
	--}
}

