-- Disabling 7/30/18, causing error spam in the host eclipse
--root top
--
--configuration top (
--	proc: process SimpleComponentChoice::MidProcess from (SimpleComponentChoice::MidProcess1, SimpleComponentChoice::MidProcess2, SimpleComponentChoice::MidProcess3),
--	power: SEI::PowerBudget from (0W .. 2000W),
--	time_slots: Thread_Properties::Time_Slot from ((2,4,6),(3,6,9),(4,8,12))
--) extends SimpleComponentChoice::MySystem.Tier0 {
--	scs => {
--		mdev => proc,
--		mdev#Deployment_Properties::Actual_Processor_Binding => reference(processor2)
--	}, 
--	scs.sdev.power#SEI::PowerBudget => power,
--	scs.sdev#Thread_Properties::Time_Slot => time_slots
--	-- scs.mdev#Deployment_Properties::Actual_Processor_Binding => 1--reference(scs.processor2)
--	--scs => {
--	--	mdev => ...
--	--}
--	
--	-- test
--}
--
